body{
	background-color: burlywood;
    font-family: sans-serif;
    
                 
}
main{
    background-color: #ffffff;
    font-family: 'Comic Sans MS';
    text-align: center; 
    border-left-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
     
    
    
    
}
#id{
    margin-right: auto;
    margin-left: auto;
    

}
h1{
    font-weight: 600;
    font-family: fantasy;    
    vertical-align: middle;
    text-align: center;               
    border-style: dotted;
    
}
ul{
    text-align: center;
    list-style-type: none;
    font-style:italic;
}
li::first-letter {
    font-size: 150%;
    font-weight: 400;  
    
}