body{
	background-color: burlywood;
    font-family: sans-serif;
    
                 
}
main{
    background-color: #ffffff;
    border-style: dotted;
    
}
#id{
    margin-right: auto;
    margin-left: auto;
    
   


}
h1{
    font-weight: 600;
    font-family: 'Times';
    border-bottom-style: dotted;
    
}
ul{
    text-align: center;
    list-style-type: none;
}
li::first-letter {
    font-size: 150%;
    font-weight: 400;  
    
}