body {
    background-color: #E2AC7F;
    font-family: sans-serif;
    /*border-spacing: 47px;*/
}

main {
    background-color: #F5F5DC;
    font-family: 'Comic Sans MS';
    text-align: center;
    margin: 0 auto;
    border: black dotted;
    width: 568px;
}

h1 {
    font-weight: 600;
    font-family: fantasy;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    border-bottom-style: dotted;
    margin-top: 0;
}

p {
    font-size: 80%;
    text-align: left;
    margin: 20px;
}

ul {
    text-align: center;
    list-style-type: none;
    font-style: italic;
}

li::first-letter {
    font-size: 135%;
    font-weight: 400;
}

.copyright {
    font-size: 70%;
    text-align: center;
    }
a {
    text-decoration: none;
}
