body {
    background-color: #5C7EBD;
    font-family: sans-serif;
}

h1 {
    font-weight: 700;
}

ul {
    text-align: center;
    list-style-position: inside;
}

p a {
    color: rebeccapurple;
    font-style: italic;
    font-size: 70%;
}

.copyright {
    font-style: italic;
    font-size: 70%;
}
