body{
	background-color: #54CCFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
     font-weight: 500;
            
}
#id{
    margin-right: auto;
    margin-left: auto;
   


}
h1{
    font-weight: 600;
    font-family: 'Times';
    
}
ul{
    text-align: center;
    list-style-type: none;
}
li::first-letter {
    font-size: 150%;
    font-weight: 400;  
    
}