body {
    background-color: #364370;
    font-family: sans-serif;    
}

main {
    width: 1000px;
    height: 400px;    
}

h1 {
    font-weight: 700;
}

article ul {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
}

nav {
    float: left;
    background-color: #B0CFFE;
    text-align: left;
    height: 367px;
}

article {
    background-color: #5B7FBD;
    text-align: center;
    
}

.copyright {
    background-color: #364370;
    padding-top: 10px;
}
